* {
  padding: 0rem;
  margin: 0rem;
}
:root {
  --theme: rgb(0, 0, 0);
  --Lap: rgb(221, 221, 221);
}
body {
  background-color: var(--theme)
}
nav {
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index:  99999;
}
.nav_logo-part {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background-color: white;
}
.nav_pages-part {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 5rem;
  width: 42rem;
}
.MainPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
}
input[type="search"] {
  width: 50rem;
  height: 2rem;
  margin-right: 1rem;
  z-index: 1;
}
input[type="submit"] {
  width: 7rem;
  height: 2rem;
}

.LaptopsPlace {
  margin-top: 2rem;
  width: 82rem;
  height: 30rem;
  border-radius: 2rem;
  background-color: var(--Lap);
}
.AboutUs {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 5rem;
  width: 100%;
  height: 100vh;
}
.card {
  margin-top: 12rem;
  height: 25rem;
  z-index: 1;
}
.card-body {
  background-color: var(--Lap);
}
.card-img-top{
  max-height: 12rem;
}
.Abduaziz {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.con1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.tg {
  display: flex;
  align-items: center;
  width: 23rem;
  height: 8rem;
}
.support {
  display: flex;
  align-items: center;
  width: 23rem;
  height: 8rem;
}
.con2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  height: 100vh;
}
.map {
  width: 35rem;
  height: 24rem;
  background-color: var(--Lap);
}
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 8rem;
  background-color: var(--Lap);
}
footer {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100vh;

}
::-webkit-scrollbar {
  width: 0rem;
  background-color: transparent;
}
.footer-bigcon {
  display: flex;
  width: 100%;
  height: 50%;
  color: white;
  background-color: rgb(37, 37, 37);
}
.bigcon_con1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.bigcon_con2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12rem;
  width: 40%;
  height: 100%;
  background-color: rgb(65, 65, 65);
}
.bigcon_con3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
}